{% extends 'A_Shared/base.html.twig' %}

{# --- Head --- #}
{% block title %} Conv {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ asset('styles/styles_header1.css') }}">
<link rel="stylesheet" href="{{ asset('styles/styles_conv.css') }}">
{% endblock %}

{# --- Body --- #}
{% block body %}
<body class="lapis">
{% endblock %}

{# --- Header --- #}
{% block header %}

{# --- Titre --- #}
<h1> FmConv </h1>

{# --- Center --- #}
<div class="center">
</div>

{# --- Boutons --- #}
<div>
<button id="toggle-mode"><i class="fa-solid fa-moon"></i></button>
<a href="/"><i class="fa-solid fa-house"></i></a>
</div>
{% endblock %}


{# --- Main --- #}
{% block main %}
<div class="container">
    <nav id="nav-canals" class="branchs" data-aos="fade-right">
        
        <h2> Général Personnel </h2>
        <h3 class="canal-tag"> Arbre </h3>
        <h3 class="canal-tag"> Options </h3>

        <h2> Public  </h2>
        <h3> ({{ nbText }})</h3>

        {% for b in branch %}
            {% if b.branchParentId == 0 %}
                {% include 'C_Conv/_branch_recursive.html.twig' with {
                    branch: b,
                    allBranches: branch,
                    allCanals: canal
                } %}
            {% endif %}
        {% endfor %}

    </nav>

    <div class="canal" >
        <h2> Discussion </h2>
        
        {% for m in message %}
            <div class="message {% if m.userId == 1 %}own{% else %}other{% endif %}">
                <div class="message-content">

                    <section class="image">
                        <img src="https://public.marvinfm.fr/assets/icon.png">
                    </section>

                    <section>
                        <div class="message-header">
                            <h3 class="name">Utilisateur {{ m.userId }}</h3> 
                            <h3>  -  </h3>
                            <h3>{{ m.date }}</h3>
                        </div>
                        <h4>{{ m.text }}</h4>
                    </section>
                </div>
                <div class="message-options">
                    <div class="message-sub">
                        {% if m.userId == 1 %}
                        <i class="fa-solid fa-pencil"></i>
                        {% endif %}
                    </div>
                    <div class="message-sub">
                        <i class="fa-solid fa-reply"></i>
                        <i class="fa-solid fa-trash-can"></i>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <nav id="nav-options">
        <div class="nav-options">
            <i class="fa-solid fa-bars-staggered"></i>
            <i class="fa-solid fa-palette"></i>
        </div> 
        <div class="nav-options">
            <i class="fa-solid fa-volume-xmark"></i>
            <i class="fa-solid fa-music"></i>
        </div>
    </nav>
</div>
{% endblock %}


{# --- Scripts --- #}
{% block scripts %}
<script src="{{ asset('scripts/script_cours.js') }}"></script>
{% endblock %}
