{% extends 'A_Shared/base.html.twig' %}

{# --- Head --- #}
{% block title %} Accueil {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ asset('styles/colors_old.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/styles_main.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/popups.css') }}">
{% endblock %}

{# --- Body --- #}
{% block body %}

{# --- Popups --- #}
{% include 'Popups/theme.html.twig' %}
{% include 'Popups/connect.html.twig' %}
{% endblock %}

{% block header %}
<a href="?p">
    <h1>MarvinFm <b class="special"> Web</b>Site </h1>
</a>
<section id="liens_centre">
    <a href="/conv"><h2>FmConv</h2></a>
    <a href="/cours"><h2>Etudes / Cours</h2></a>
    <a href="?p=register"><h2>S'inscrire</h2></a>
</section>
<section>
    <i class="fa-solid fa-paint-roller" id="themes" data-popup="popupThemes"></i>

    {% if user is defined and user %}
        <i class="fa-solid fa-comments" id="messages" data-popup="popupMessages"></i>

        {% if currentView == 'home' %}
            <a class="bouton" href="?p=deconnect">Se déconnecter</a>
        {% else %}
            <a class="bouton" href="?p=home">Mon compte</a>
        {% endif %}
        
    {% else %}
        <a class="bouton" id="bouton_co" data-popup-click="popupConnect">Se connecter</a>
    {% endif %}
</section>
{% endblock %}

{% block main %}
<main>
    {% if currentView == 'register' %}
        {% include 'B_Master/register.html.twig' %}
    {% else %}
        {% include 'B_Master/default.html.twig' %}
    {% endif %}
</main>

{% endblock %}

{# --- Scripts --- #}
{% block scripts %}
<script src="{{ asset('scripts/popup_boutons.js') }}"></script>
<script src="{{ asset('scripts/themes.js') }}"></script>
{% endblock %}
