{% block register %}
<section id="new_account">
    <section id="new_account_left">
    <h1>Créer un compte</h1>
    <h2>Faites preuve de <b class="special">vigilance</b> concernant les informations sensibles que vous publiez sur Internet.</h2>
    <h2>Utilisez un mot de passe <b class="special">unique</b> et <b class="special">complexe</b>.</h2>

    </section>
    {{ form_start(form, {'attr': {'id': 'new_account_form', 'method': 'post'}}) }}

        <h3> *Identifiant </h3>
        {{ form_row(form.username, { label: false }) }}

        <h3> Pseudo d'affichage </h3>
        {{ form_row(form.pseudo, { label: false }) }}

        <h3> *Mot de passe </h3>
        {{ form_row(form.password, { label: false }) }}

        <h3> *Confirmez </h3>
        <input type="password" name="password_confirm" id="mdp3" required>

        <input type="submit" value="S'inscrire">

    {{ form_end(form) }}
</section> 
{% endblock %}