{% extends 'A_Shared/base.html.twig' %}


{# --- Head --- #}
{% block title %} Cours {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ asset('styles/styles_cours.css') }}">
{% endblock %}

{# --- Body --- #}
{% block body %}
<body class="lapis">
{% endblock %}


{# --- Header --- #}
{% block header %}

{# --- Titre --- #}
<h1> Études & Cours </h1>

{# --- Center --- #}
<div class="center">
</div>

{# --- Boutons --- #}
<div>
    <button id="toggle-mode"><i class="fa-solid fa-moon"></i></button>
    <a href="/"><i class="fa-solid fa-house"></i></a>
</div>
{% endblock %}


{# --- Body --- #}
{% block main %}
<section class="container">
<div class="content">
    {# Boucle sur tous les cours #}
    {% for cours in cours %}
        <div class="cours" data-aos="zoom-in-up" data-aos-duration="280">

        {# Lien qui englobe la carte #}
        <a {% if cours.link %} href="{{ cours.link }}" target="_blank" {% endif %}>

            {# Contenu / Infos #}
            <h2>{{ cours.name }}</h2>
            <h3>{{ cours.desc }}</h3>
            <div class="fcours">
            <h3>{{ cours.domaine }}</h3>
            <h4>{{ cours.type }} - {{ cours.info }}</h4>
            </div>
        </a>
        </div>
    {% endfor %}
</div>
</section>
{% endblock %}


{# --- Scripts --- #}
{% block scripts %}
<script src="{{ asset('scripts/script_cours.js') }}"></script>
{% endblock %}